{% extends "wrapper.html" %}
{% load static %}
{% block content %}
<div>
    <a style="margin-left: 10px;" href="https://mon.gov.ua/ua"><img style="object-fit:contain; width: 300px; height: 250px;"  src="{% static 'mainpage/img/moy.png' %}" alt=""></a>
    <a style="margin-left: 10px;" href="https://nus.org.ua/"><img style="object-fit:contain; width: 300px; height: 250px;"  src="{% static 'mainpage/img/novaschool.png' %}" alt=""></a>
    <a style="margin-left: 10px;" href="http://osvita.ua/"><img style="object-fit:contain; width: 300px; height: 250px;"  src="{% static 'mainpage/img/osvita_ua.png' %}" alt=""></a>
    <a style="margin-left: 10px;" href="https://ippo.if.ua/"><img style="object-fit:contain; width: 300px; height: 250px;"  src="{% static 'mainpage/img/iop.png' %}" alt=""></a>
    <a style="margin-left: 10px;" href="http://testportal.gov.ua/"><img style="object-fit:contain; width: 300px; height: 250px;"  src="{% static 'mainpage/img/ucoua.png' %}" alt=""></a>
</div>
{% endblock %}