{% extends "wrapper.html" %}
{% block content %}
{% load static %}
<title>Головна</title>
<link rel="stylesheet" href="{% static 'mainpage/css/style.css' %}">

<!-- DELETED  -->
<main  class="carousele-decor">
    <div  class="carousele">
        <div class="element">
            <center>
                <img  id="imagecarusel" src="{% static 'mainpage\img/class0.png' %}">
                <h2 id="h2">Дошкільна група</h2>
                <p id="p">Вихователь: Шиян М. О.</p>
            </center>
        </div>
        <div class="element">
            <center>
                <img  id="imagecarusel" src="{% static 'mainpage\img/class1.png' %}">
                <h2 id="h2">1 клас</h2>
                <p id="p">Класний керівник: Пасічник О. В.</p>
            </center>
        </div>
        <div class="element">
            <center>
                <img  id="imagecarusel" src="{% static 'mainpage/img/class2.png' %}">
                <h2 id="h2">2 клас</h2>
                <p id="p">Класний керівник: Яцущак M. Д.</p>
            </center>
        </div>
        <div class="element">
            <center>
                <img  id="imagecarusel" src="{% static 'mainpage/img/class3.png' %}">
                <h2 id="h2">3 клас</h2>
                <p id="p">Класний керівник: Шостачко Т. В.</p>
            </center>
        </div>
        <div class="element">
            <center>
                <img id="imagecarusel" src="{% static 'mainpage/img/class5.png' %}">
                <h2 id="h2">5 клас</h2>
                <p id="p">Класний керівник: Довжанська І. О.</p>
            </center>
        </div>
        <div class="element">
            <center>
                <img  id="imagecarusel" src="{% static 'mainpage/img/class6.png' %}">
                <h2 id="h2">6 клас</h2>
                <p id="p">Класний керівник: Яцущак М. М.</p>
            </center>
        </div>
        <div class="element">
            <center>
                <img id="imagecarusel" src="{% static 'mainpage/img/class8.png' %}">
                <h2 id="h2">8 клас</h2>
                <p id="p">Класний керівник: Войтків Л. М.</p>
            </center>
        </div>
    </div>
</main>
{% endblock %}